*{
    margin: 0px;
}

dialog {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

button {
    background-color: #c084fc;
    border-radius: 12px;
    border: 2px solid white;
    padding: 7px 21px;
    color: #581c87;
}

/* Header */

.header {
    display: flex;
    background-color: #581c87;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    gap: 10%;
    height: 5vh;
    flex-wrap: wrap;
    max-width: 100%;
    box-shadow: inset -1px 0px 5px 0px #6b21a8;

}

.header .title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: underline;
    color: #e9d5ff;
}

.header .addBook {
    padding: 8px;
    background-color: pink;
    border-radius: 12px;
    border: none;

}

.header #newBookDialog {
    padding: 20px;
    background-color: #e9d5ff;
}

.header form {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.inputs {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header .form-btns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 20px;

}

/* Content */

#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
    padding: 20px;
    height: 95vh;
    gap: 20px;
    background-color: #6b21a8;
    box-shadow: inset -1px 0px 5px 0px #581c87;
    overflow: hidden;
    
}

.book-card {
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: #c084fc;
    height: 250px;
    width: auto;
    max-width: 200px;
    border: 2px solid rgba(248, 239, 239, 0.5);
    box-shadow: 5px 5px 5px #a855f7;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.bookCardTitle {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.delete-button, .status-button {
    background-color: rgba(255, 255, 255, 0.3);
}